<!DOCTYPE html>
<html lang="{{ Site.Config.Site.Language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if Page.Meta.Fields.description %}<meta name="description" content="{{ Page.Meta.Fields.description }}">{% endif %}
  <title>{% block title %}{{ Site.Config.Site.Title }}{% endblock %}</title>
  {{ Assets.CSS|safe }} 
  {{ Assets.JS|safe }} 
  {% block head %}{% endblock %}
</head>
<body class="lattice">
  {% include "templates/partials/header.html" %}
  <main class="full-width">
    {% block body %}{% endblock %}
  </main>
  {% include "templates/partials/footer.html" %}
  <!-- Privacy-friendly analytics by Plausible -->
  <script async src="https://plausible.io/js/pa-OEPLQuywKOTpVxjDTbjH9.js"></script>
  <script>
    window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
    plausible.init()
  </script>
</body>
</html>
