<!DOCTYPE html>
<html lang="{{ Site.Config.Site.Language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if Page.Meta.Fields.description %}<meta name="description" content="{{ Page.Meta.Fields.description }}">{% endif %}
  <title>{% block title %}{{ Site.Config.Site.Title }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ Site.Config.Site.BaseURL }}/css/ivy.full.css">
  <link rel="stylesheet" href="{{ Site.Config.Site.BaseURL }}/css/lattice.full.css">
  <link rel="stylesheet" href="{{ Site.Config.Site.BaseURL }}/css/site.css">
  <script type="module" src="{{ Site.Config.Site.BaseURL }}/js/dark-mode-toggle.js"></script>
  {% block head %}{% endblock %}
</head>
<body class="lattice">
  {% include "templates/partials/header.html" %}
  <main class="full-width">
    {% block body %}{% endblock %}
  </main>
  {% include "templates/partials/footer.html" %}
</body>
</html>
